# Archivos/Directorios de Android Studio y IDE
*.iml
.DS_Store
/local.properties
/.idea/

# Directorios Generados y Cache
/.gradle
/build
/captures

# Archivos de build nativo (si usas NDK/C++)
.cxx/
.externalNativeBuild/

# Llaves privadas/Debug/Otros
# my-key.jks